<html>
<head>
  <title>Noticias</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ultimas Noticias</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/news">Home <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="/info">Perfil <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="/set_info">Editar Perfil <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="/" role="button"  class="btn btn-outline-primary">Cerrar Seccion</a>
      </form>
    </div>
  </nav>
  <div class="container">
    <div class="row" style="margin-top: 50px">
      <div class="col-md-10"></div>
      <div class="col-md-10">
        <div class="jumbotron">
            <h1>Informacion de la cuenta</h1><br><br>
            <h2>Nombre:</h2>
            <p>{{nombre}}</p>

            <h2>Correo:</h2>
            <p>{{email}}</p>
 
                    
        </div>
      </div>
    </div>
  </div>
  <script src="../static/js/app.js"></script>
</body>
</html>